body{
    background-color: #c0dcff;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/background.jpg);
}

li{
    list-style-type: none;
}

/* Header */
#mainHeader .container{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #86c3db;
}

#companyCount{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#companyCount h2{
    margin: 0px;
    padding: 0px;
    margin-top: 25px;
}

#companyCount h1{
    margin: 0px;
    padding-top: 20px;
}

/* Filter */
#filter{
    height: 30px;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 19px;
}

/* Container */
.container{
    width: 600px;
    margin: auto;
}

#items-header{
    padding-left: 0px;
}


#items{
    padding-left: 0px;
}

.list-group-collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    height: 40px;
}

.list-name{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 3px solid;
    border-radius: 5px;
    margin-top: 3px;
    background-color: #86c3db;
    padding-top: 10px;
    padding-left: 5px;
}

.list-group-item{
    padding-bottom: 5px;
    
}

.button{
    border: 3px solid;
    border-radius: 5px;
    font-size: 20px;
}

.data{
    text-align: center;
    /* background-color: rgb(161, 141, 141); */
}

/* Spinner */

.lds-dual-ring {
    display: inline-block;
    width: 88px;
    height: 88px;
    position: absolute;
    left: 56.2%;
    top: 68px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 56px;
    height: 56px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media(max-width:1800px){
      .lds-dual-ring:after {
        visibility: hidden;
      }
}

